################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSCN71020_A2 (1)/CSCN71020_A2/.vs/BCSRec
